<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdy.myblog.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.cdy.myblog.model.Tag">
        <result column="id" property="id" />
        <result column="tagName" property="tagName" />
        <result column="tagSize" property="tagSize" />
    </resultMap>


    <select id="findIsExitByTagName" resultType="java.lang.Integer">
        select IFNULL(max(id),0) from tags where tagName=#{tagName}
    </select>

</mapper>